{{ define "main" }}
<div class="hx:mx-auto hx:flex hextra-max-page-width">
  {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" false) }}
  {{ partial "toc.html" . }}
  <article class="hx:w-full hx:break-words hx:flex hx:min-h-[calc(100vh-var(--navbar-height))] hx:min-w-0 hx:justify-center hx:pb-8 hx:pr-[calc(env(safe-area-inset-right)-1.5rem)]">
    <main id="content" class="hx:w-full hx:min-w-0 hextra-max-content-width hx:px-6 hx:pt-4 hx:md:px-12">
      <h1 class="hx:mt-2 hx:text-4xl hx:font-bold hx:tracking-tight hx:text-slate-900 hx:dark:text-slate-100">{{ .Title }}</h1>
      <div class="content">

      {{ with .Site.Params.renders }}
      <h2>3D Renders<span class="hx:absolute hx:-mt-20" id="3d-renders"></span><a href="#3d-renders" class="subheading-anchor" aria-label="Permalink for this section"></a></h2>
      {{ end }}
      {{ partial "gallery.html" $ }}

      <h2>Schematic &amp; PCB<span class="hx:absolute hx:-mt-20" id="schematic--pcb"></span><a href="#schematic--pcb" class="subheading-anchor" aria-label="Permalink for this section"></a></h2>
      {{ partial "kicanvas.html" $ }}

      {{ with .Site.Params.ibom }}
      <h2>Interactive BOM<span class="hx:absolute hx:-mt-20" id="interactive-bom"></span><a href="#interactive-bom" class="subheading-anchor" aria-label="Permalink for this section"></a></h2>
      {{ partial "ibom.html" $ }}
      {{ end }}

      {{ with .Content }}
      {{ . }}
      {{ end }}
      </div>
    </main>
  </article>
</div>
{{ end }}
